


@media only screen and (max-width: 425px) {
    .car_doctor_nav {
        flex-direction: column;
    }
    .car_navbar_end {
        width: auto;
        margin-top: 10px;
    }
  }
@media only screen and (max-width: 375px) {
    .car_doctor_nav {
        flex-direction: column;
    }
    .car_navbar_end {
        width: auto;
        margin-top: 10px;
    }
  }